* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.js-greetings {
    display: flex;
    height: 20vh;
    font-size: 80px;
    color: whitesmoke;
    margin: auto;
}

.js-clock {
    display: flex;
    width: 100%;
    height: 20vh;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.js-toDoForm {
    display: flex;
    justify-content: center;
    height: 5vh;
}

.js-toDoInput {
    width: 50%;
    border-radius: 10px;
    outline: none;
}

.js-toDoList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 30vh;
    font-size: 30px;
    color: wheat;
}

.del_Btn {
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    margin: auto;
    margin-left: 300px;
}

.js-time {
    font-size: 100px;
}

.js-weather {
    color: white;
    font-size: 50px;
    margin: auto;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}